:root {
  --body-background-color: #292E1B;
  --body-text-color: #f0ffff;
  --card-background-color: #002b29;
  --nav-background-color: #242918;
  --nav-border-bottom-color: #000000;
  --nav-current-border-bottom-color: #000000;
  --card-border-color: #000000;
  --down-border-left-color: #ff002c;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #03ee72;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

    @font-face {
      font-family: "Unifont";
      src: local("Unifont"), url(https://koishii.online/font/unifont.ttf) format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    body {
      background: url('https://koishii.online/tile.gif') !important;
      background-repeat: repeat !important;
      font-family: 'Unifont', sans-serif !important;
      margin: 0;
    }

